@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

html {
    font-size: 62.7;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #63A132;
    margin: 0;
    padding: 0 1em;
    color: white;
    font-family: "Arapey", serif;
    height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-logo h1 {
    font-weight: 300;
}

.main {
    padding-top: 4em;
}
