@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

html {
    font-size: 62.7;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a252f;
    margin: 0;
    padding: 0 1em;
    color: white;
    font-family: "Arapey", serif;
    height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-logo h1 {
    font-weight: 300;
}

.navbar {
    /* background-color: #003262; */
    font-size: 20px;
}

.navbar > ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.navbar > Ul > li {
    padding: 8px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border .3s ease-out;
    box-sizing: content-box;
}

.navbar > Ul > li:hover {
    border-bottom: 2px solid #58626c;
    box-sizing: content-box;
}

.main {
    padding-top: 4em;
}
