.main-content {
    /* background-color: rgba(243, 243, 243, 0.418); */
    /* border: 1px solid #9f9f9f73; */
    height: 50%;
    width: 50%;
}

.graphic-session {
    background-color: rgb(235, 235, 235);
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.top4-session {
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    width: 100%;
    background-color: rgba(243, 243, 243, 0.514);
    /* border: 1px solid #9f9f9f73; */
}

/* Responsividade */
/* @media (max-width: 1000px) {
    .graphics-container {
        grid-template-columns: 1fr;
    }
} */