
.grafico_pizza{
    display: flex;
    flex-direction: row;
}
.grafico_para_API{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.grafico_para_API2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
