* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selector {
    width: 5.2em;
    height: 2.2em;
    /* padding: .5em; */
    background-color: #f9f9f9;
    border: 2px solid #555;
    color: #000;
    /* border: none; */
    border-radius: 5px;
}

option {
    color: #000;
}